.overlayMaxWidth{
  max-width: 1280px;
}

.height{
  max-height: 750px;
  height: 750px;
  padding-left: 22px;;
}

.heightS{
  max-height: 700px;
  margin-left: 8px;
  padding-bottom: 20px;
  height: 620px;

}

.hover{
  margin:0 10px !important;
  margin-top: 2px !important;
  font-weight: 450 !important;
  margin-left: 8px !important;
}

.hover:hover{
  color: #8447ff;
}

.hover:active{
  color: #8447ff;
}
.active {
  color: #8447ff;
}
.bars {
  width: 3.3em;
  background: #000;
  margin-right: 3px;
  margin-left: 10px;
  height: 3.3em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bars div {
  width: 20px;
  height: 2px;
  background: white;
  margin-bottom: 5px;
}

.bars div:nth-child(3) {
  width: 10px;
  margin-left: 10px;
}
.dropbtn {
  background-color: inherit;
  margin-top: 2px;
  font-weight: 500;
  border: none;
  padding-right: 14px;
  padding-left: 8px;
  width: fit-content;
}
.dropbtn:hover{
  color: #8447ff;
}

.dropdown {
  display: block;
  background-color: inherit !important ;
}

.dropdownContent {
  display: none;
  list-style: none;
  position: fixed;
  background-color: #fff;
  min-width: 250px;
  padding: 0px;
  box-shadow: -52px 52px 70px -30px rgb(0 0 0 / 10%);
  z-index: 60;
}

.dropdownContent li {
  padding: 12px 20px 12px 30px;
  display: block;
  cursor: pointer;
  border-width: 80px;
  border-bottom: 0.5px solid #e5e5e5;
}
.dropdownContent li:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdownContent {
  display: block;
  z-index: 40;
}

@media (max-width: 900px){
  .bars {
    background: none;
  }
  .bars:hover div:nth-child(1){
      width: 15px;
  }
  .bars:hover div:nth-child(3){
    width: 15px;
}
  .bars div {
    background: #000;
  }
  .bars div:nth-child(3){
    width: 20px;
    margin: 0;
  }
}
