.link {
  list-style-type: none;
}

.Navbar {
  overflow: hidden;
  padding: 2.5rem 0rem;

}

.link {
  cursor: pointer;
  font-size: 14px;
  margin-left: 2rem;
}


@media (max-width: 800px){
  .link{
    margin: 0;
  }
  .Navbar {
    padding: 0 2rem;
  }
}

.active {
  color: #8447ff;
}
.bars {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bars div {
  width: 20px;
  height: 2px;
  background: white;
  margin-bottom: 5px;
}

.bars div:nth-child(3) {
  width: 10px;
  margin-left: 10px;
}

.logo {
  height: 80px;
  width: 100% !important;
  margin: 0;
  padding: 0;
}

.dropbtn {
  background-color: #fff;
  font-weight: bold;
  border: none;
}

.dropdown {
  display: block;
}

.dropdownContent {
  display: none;
  list-style: none;
  position: fixed;
  background-color: #fff;
  min-width: 250px;
  padding: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 60;
}

.dropdownContent li {
  padding: 12px 20px 12px 30px;
  display: block;
  cursor: pointer;
  border-width: 80px;
  border-bottom: 0.5px solid #e5e5e5;
}
.dropdownContent li:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdownContent {
  display: block;
  z-index: 40;
}
